<!DOCTYPE html>
<html ng-app="weechat">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Glowing Bear">
  <meta name="theme-color" content="#181818">
  <meta http-equiv="x-dns-prefetch-control" content="off">
  <!-- https://w3c.github.io/manifest/ && https://developer.mozilla.org/en-US/docs/Web/Manifest -->
  <link rel="manifest" href="webapp.manifest.json">
  <title ng-bind-template="{{ notificationStatus }}Glowing Bear {{ pageTitle}}"></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="shortcut icon" sizes="128x128" href="assets/img/glowing_bear_128x128.png">
  <link rel="apple-touch-icon" sizes="128x128" href="assets/img/glowing_bear_128x128.png">
  <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" >
  <link href="css/glowingbear.css" rel="stylesheet" media="screen">
  <link href="css/themes/dark.css" rel="stylesheet" media="screen" id="themeCSS" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js" integrity="sha256-xSfk1YU5PcIcFI45sbeoAZfcAPxmulrxHleQaCJQ3Jc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-route.min.js" integrity="sha256-r7kJt3yPvOIbWHcVk1q5XANFwn/IpsJVtv9yQHUQaYg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-sanitize.min.js" integrity="sha256-iHjJmALCPE3KE15AnjrtDRKbrHiC3NXY6dty1k3oeCc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-touch.min.js" integrity="sha256-mnuCdcRoZpXcbcfI76pvh1hZqYRDZyUF/jADhrkmE8U=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha256-obZACiHd7gkOk9iIL/pimWMTJ4W/pBsKu+oZnSeBIek=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.6/lib/js/emojione.min.js" integrity="sha256-r1QTE6OqyCP/xqQCml3O8jLnSm0/6DoIM473m+VnLPM=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="3rdparty/inflate.min.js"></script>
  <script type="text/javascript" src="js/localstorage.js"></script>
  <script type="text/javascript" src="js/weechat.js"></script>
  <script type="text/javascript" src="js/irc-utils.js"></script>
  <script type="text/javascript" src="js/glowingbear.js"></script>
  <script type="text/javascript" src="js/settings.js"></script>
  <script type="text/javascript" src="js/utils.js"></script>
  <script type="text/javascript" src="js/notifications.js"></script>
  <script type="text/javascript" src="js/filters.js"></script>
  <script type="text/javascript" src="js/handlers.js"></script>
  <script type="text/javascript" src="js/connection.js"></script>
  <script type="text/javascript" src="js/file-change.js"></script>
  <script type="text/javascript" src="js/imgur-drop-directive.js"></script>
  <script type="text/javascript" src="js/whenscrolled-directive.js"></script>
  <script type="text/javascript" src="js/inputbar.js"></script>
  <script type="text/javascript" src="js/plugin-directive.js"></script>
  <script type="text/javascript" src="js/websockets.js"></script>
  <script type="text/javascript" src="js/bufferResume.js"></script>
  <script type="text/javascript" src="js/models.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/imgur.js"></script>
  <script type="text/javascript" src="3rdparty/favico-0.3.10.min.js"></script>
</head>
<body ng-controller="WeechatCtrl" ng-keydown="handleKeyPress($event)" ng-keyup="handleKeyRelease($event)"  ng-keypress="handleKeyPress($event)" ng-class="{'no-overflow': connected}" ng-init="init()" lang="en-US">
  <div class="alert alert-danger upload-error" ng-show="uploadError" ng-cloak>
    <p><strong>Upload error:</strong> Image upload failed.</p>
  </div>
  <div ng-hide="connected" class="container">
    <h2>
      <img alt="logo" src="assets/img/glowing-bear.svg">
      <span>Glowing Bear</span>
      <small>WeeChat web frontend</small>
    </h2>
    <div class="alert alert-warning" ng-show="show_tls_warning" ng-cloak><strong>You're using Glowing Bear over an unencrypted connection (http://). This is not recommended!</strong> We recommend using our secure hosted version at <a href="https://www.glowing-bear.org/">https://www.glowing-bear.org/</a>, or <a href="https://latest.glowing-bear.org/">https://latest.glowing-bear.org</a> for the latest development version. If your relay is on your local network, that is unfortunately impossible, but be aware of the implications.</div>
    <div class="alert alert-danger" ng-show="errorMessage" ng-cloak>
      <strong>Connection error</strong> The client was unable to connect to the WeeChat relay
    </div>
    <div class="alert alert-danger" ng-show="sslError" ng-cloak>
      <strong>Secure connection error</strong> A secure connection with the WeeChat relay could not be initiated. This is most likely because your browser does not trust your relay's certificate. Please read the encryption instructions below!
    </div>
    <div class="alert alert-danger" ng-show="securityError" ng-cloak>
      <strong>Secure connection error</strong> Unable to connect to unencrypted relay when you are connecting to Glowing Bear over HTTPS. Please use an encrypted relay or load the page without using HTTPS.
    </div>
    <form class="form-signin" role="form">
      <div class="form-group">
        <div class="input-group">
          <div class="row no-gutter">
            <div class="col-sm-9">
              <label class="control-label" for="host">WeeChat relay</label>
              <input type="text" class="form-control favorite-font" id="host" ng-model="settings.host" placeholder="Address" autocapitalize="off">
            </div>
            <div class="col-sm-3">
              <label class="control-label" for="port">Port</label>
              <input type="text" class="form-control favorite-font" id="port" ng-model="settings.port" placeholder="Port">
            </div>
          </div>
        </div>
        <div class="input-group">
          <label class="control-label" for="password">WeeChat relay password</label>
          <input type="password" class="form-control favorite-font" id="password" ng-model="password" placeholder="Password">
          <div class="alert alert-danger" ng-show="passwordError">
            Error: wrong password
          </div>
        </div>

        <div class="checkbox">
          <label class="fancy-checkbox" for="savepassword">
            <input type="checkbox" id="savepassword" ng-model="settings.savepassword">
            <i></i>
            Save password in your browser
          </label>
        </div>
        <div class="checkbox">
          <label class="fancy-checkbox" ng-class="{disabled: !settings.savepassword}" for="autoconnect">
            <input type="checkbox" id="autoconnect" ng-model="settings.autoconnect" ng-disabled="!settings.savepassword">
            <i></i>
            Automatically connect
          </label>
        </div>
        <div class="checkbox">
          <label class="fancy-checkbox" for="ssl">
            <input type="checkbox" id="ssl" ng-model="settings.ssl">
            <i></i>
            Encryption.&nbsp;<strong>Strongly recommended!</strong>
          </label>
        </div>
      </div>
      <button class="btn btn-lg btn-primary" ng-click="connect()">{{ connectbutton }}  <i ng-class="connectbuttonicon" class="glyphicon"></i></button>
    </form>

    <a class="help" ng-click="showModal('helpModal')" title="Help" href="#">
      Need help?
    </a>
  </div>

  <div class="content" id="content" sidebar-state="visible" ng-show="connected" ng-cloak>
    <div id="topbar">
      <div class="brand">
        <a href="#" ng-click="toggleSidebar()">
          <img alt="brand" src="assets/img/favicon.png" title="Connected to {{ settings.host }}:{{ settings.port}}">
        </a>
        <span class="badge" ng-show="unread > 0">{{unread}}</span>
        <span class="badge danger" ng-show="notifications > 0">{{notifications}}</span>

        <button ng-if="debugMode" ng-click="countWatchers()">Count<br />Watchers</button>
      </div>

      <div class="title" title="{{activeBuffer().rtitle}}" ng-click="showModal('topicModal')">
        <div>
          <span class="desktop" ng-repeat="part in activeBuffer().title" ng-class="::part.classes" ng-bind-html="::(part.text | linky:'_blank':{rel:'noopener noreferrer'} | DOMfilter:'irclinky')"></span>
          <span class="mobile" ng-class="{'active': activeBuffer().active, 'channel': activeBuffer().type === 'channel', 'channel_hash': activeBuffer().prefix === '#', 'channel_plus': activeBuffer().prefix === '+', 'channel_ampersand': activeBuffer().prefix === '&'}">{{ activeBuffer().trimmedName || activeBuffer().fullName }}</span>
        </div>
      </div>

      <div class="actions pull-right vertical-line-left">
        <a class="settings-toggle" ng-click="showModal('settingsModal')" title="Options menu" href="#">
          <i class="glyphicon glyphicon-cog"></i>
        </a>
        <a ng-click="disconnect()" title="Disconnect from WeeChat" href="#">
          <i class="glyphicon glyphicon-off"></i>
        </a>
      </div>
    </div>
    <div id="sidebar" data-state="visible" ng-swipe-left="swipeLeft()" ng-swipe-disable-mouse class="vertical-line">
      <ul class="nav nav-pills nav-stacked" ng-class="{'indented': (predicate === 'serverSortKey'), 'showquickkeys': showQuickKeys, 'showjumpkeys': showJumpKeys}">
        <li class="bufferfilter">
          <form role="form">
            <div class="input-group">
              <span class="input-group-addon" id="jump-addon">Jump</span>
              <input class="form-control favorite-font" type="text" id="bufferFilter" ng-model="search" ng-keydown="handleSearchBoxKey($event)" placeholder="{{ search_placeholder || 'Search' }}" autocomplete="off" aria-describedby="jump-addon">
            </div>
          </form>
        </li>
        <li class="buffer" ng-class="{'active': buffer.active,
        'unread': buffer.unread,
        'notification': buffer.notification,
        'highlight': search && search_highlight_key === key,
        'indent': buffer.indent,
        'channel': buffer.type === 'channel',
        'channel_hash': buffer.prefix === '#',
        'channel_plus': buffer.prefix === '+',
        'channel_ampersand': buffer.prefix === '&',
        'private': buffer.type === 'private'}"
        ng-repeat="(key, buffer) in (filteredBuffers = (getBuffers() | toArray:'withidx' | filter:bufferlistfilter | filter:hasUnread | orderBy:predicate | getBufferQuickKeys:this))">
        <a ng-click="setActiveBuffer(buffer.id)" title="{{ buffer.fullName }}" href="#">
          <span class="badge pull-right" ng-class="{'danger': buffer.notification}" ng-bind="buffer.notification || buffer.unread"></span>
          <span class="buffer-quick-key">{{ buffer.$quickKey }}</span>
          <span class="buffer-jump-key">{{ ("0" + buffer.$jumpKey).slice(-2) }}</span>
          <span class="buffername">{{ buffer.trimmedName || buffer.fullName }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="bufferlines" class="favorite-font" ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()" ng-swipe-disable-mouse ng-class="{'withnicklist': showNicklist}" when-scrolled="infiniteScroll()" imgur-drop>
    <div id="nicklist" ng-if="showNicklist" ng-swipe-right="swipeRight()" ng-swipe-disable-mouse class="vertical-line-left">
      <ul class="nicklistgroup list-unstyled" ng-class="[group.name, 'nicks-'+group.nicks.length]" ng-repeat="group in nicklist">
        <li ng-repeat="nick in group.nicks|orderBy:'name'">
          <a ng-click="openBuffer(nick.name)"><span ng-class="::nick.prefixClasses" ng-bind="::nick.prefix"></span><span ng-class="::nick.nameClasses" ng-bind="::nick.name"></span></a>
        </li>
      </ul>
    </div>
    <table>
      <tbody>
        <tr class="bufferline">
          <td ng-hide="activeBuffer().allLinesFetched" colspan="3">
            <a class="fetchmorelines btn btn-xs btn-primary" ng-click="fetchMoreLines()" ng-hide="loadingLines" href="#">Fetch more lines</a>
            <span class="fetchmorelines loading btn btn-xs btn-primary" ng-show="loadingLines">Fetching more lines <i class="glyphicon glyphicon-refresh glyphicon-spin"></i></span>
          </td>
        </tr>
      </tbody>
      <tbody ng-repeat="bufferline in bufferlines">
        <tr class="bufferline">
          <td class="time">
            <span class="date" ng-class="::{'repeated-time': bufferline.shortTime==bufferlines[$index-1].shortTime}">
              <span class="cof-chat_time cob-chat_time coa-chat_time" ng-bind-html="::bufferline.formattedTime"></span>
            </span>
          </td>
          <td class="prefix"><span ng-class="::{'repeated-prefix': bufferline.prefixtext==bufferlines[$index-1].prefixtext}"><a ng-click="addMention(bufferline.prefix)"><span class="hidden-bracket">&lt;</span><span ng-repeat="part in ::bufferline.prefix" ng-class="::part.classes" ng-bind="::part.text|prefixlimit:25"></span><span class="hidden-bracket">&gt;</span></a></span></td><!--
          --><td class="message"><!--
        --><div ng-repeat="metadata in ::bufferline.metadata" plugin data="::metadata"></div><!--
      --><span ng-repeat="part in ::bufferline.content" class="text" ng-class="::part.classes.concat(['line-' + part.$$hashKey.replace(':','_')])" ng-bind-html="::part.text | linky:'_blank':{rel:'noopener noreferrer'} | DOMfilter:'irclinky' | DOMfilter:'emojify':settings.enableJSEmoji | DOMfilter:'inlinecolour' | DOMfilter:'latexmath':('.line-' + part.$$hashKey.replace(':','_')):settings.enableMathjax"></span>
    </td>
  </tr>
  <tr class="readmarker" ng-if="activeBuffer().lastSeen==$index">
    <td colspan="3">
      <hr id="readmarker">
    </td>
  </tr>
</tbody>
</table><span id="end-of-buffer"></span>
</div>
<div class="footer" ng-class="{'withnicklist': showNicklist}">
  <div input-bar input-id="sendMessage" command="command"></div>
</div>
</div>
<div id="soundNotification"></div>
<div id="reconnect" class="alert alert-danger" ng-click="reconnect()" ng-show="reconnecting" ng-cloak>
  <p><strong>Connection to WeeChat lost</strong></p>
  <i class="glyphicon glyphicon-refresh"></i>
  Reconnecting... <i class="glyphicon glyphicon-spin glyphicon-refresh"></i> <a class="btn btn-xs" ng-click="reconnect()" href="#">Click to try to reconnect now</a>
</div>
<ng-include src="'directives/help.html'"></ng-include>
<ng-include src="'directives/settings.html'"></ng-include>
<ng-include src="'directives/topic.html'"></ng-include
</body>
</html>
