<div id="topicModal" class="gb-modal" data-state="hidden">
  <div class="backdrop" ng-click="closeModal($event)"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal($event)" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Channel topic {{ activeBuffer().shortName || activeBuffer().fullName }}</h4>
        <p ng-repeat="part in activeBuffer().title" ng-class="::part.classes" ng-bind-html="::(part.text | linky:'_blank':{rel:'noopener noreferrer'} | DOMfilter:'irclinky')"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="closeModal($event)">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
